@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: whitesmoke;
}

header {
  margin-bottom: 30px;
  background-color: white;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;

  .logo-ul-div {
    display: flex;
    align-items: center;
    column-gap: 25px;

    h1 {
      color: rgb(76, 76, 244);
    }

    ul {
      display: flex;
      list-style-type: none;
      column-gap: 20px;

      li {
        .link {
          text-decoration-line: none;
          color: black;
        }
      }
    }
  }

  .svg-user {
    color: #3d78ee;
    width: 40px;
    height: 40px;
  }
}

.main-container {
  background-color: inherit;
  width: 70%;
  margin: 20px auto;
  // box-shadow: 1px 2px 25px rgb(131, 133, 130);
  min-height: 600px;

  .categories-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    button {
      background-color: rgb(18, 73, 238);
      font-size: 20px;
      color: white;
    }
  }
}

.books-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  row-gap: 40px;

  .single-book-container {
    display: flex;
    column-gap: 30px;
    justify-content: space-around;
    padding: 10px 0;
    background-color: white;

    .book-details-div {
      .category {
        color: grey;
        font-size: 13px;
      }

      .author {
        color: #6798f9;
        font-size: 11px;
      }
    }

    .btns-div {
      display: flex;
      margin-top: 20px;
      column-gap: 10px;

      button {
        outline: none;
        border: none;
        // border-right: 2px solid black;
        background-color: inherit;
        color: #0557f9;
      }
    }

    .progress-div {
      display: flex;
      align-items: center;

      .progress-image-div {
        img {
          width: 3rem;
          height: 3rem;
        }
      }

      .percent-complete-div {
        text-align: center;

        .percent-span {
          font-size: 20px;
          font-weight: bolder;
        }
      }
    }

    .chapter-div {
      font-size: 12px;

      .btn-update {
        padding: 5px;
        background-color: #0557f9;
        border: none;
        color: white;
      }
    }
  }

  .form-container {
    display: flex;
    flex-direction: column;
    align-self: center;

    .form {
      display: flex;
      column-gap: 20px;
      margin-top: 20px;

      .inputs {
        padding: 5px;
        border: 1px solid silver;
        border-radius: 5px;
      }

      .btn-add {
        padding: 5px;
        background-color: #0557f9;
        border: none;
        border-radius: 3px;
        color: white;
      }
    }
  }
}
